.Meaning .h3 {
  font-family: "montserrat", san-serif !important;
  font-size: 25px;
  color: #2d3047;
  font-weight: bold;
  padding-bottom: 10px;
}

.Meaning .example {
  font-style: italic;
  color: #2d3047;
  padding-bottom: 10px;
  opacity: 0.75;
  text-transform: initial;
  font-size: 20px;
  font-family: "Playfair-Display", serif;
}

.definition {
  color: #2d3047;
  padding-bottom: 10px;
  text-transform: initial;
  font-size: 20px;
  font-family: "Playfair-Display", serif;
}
