h2 {
  font-size: 40px;
  color: #2d3047;
  font-weight: bold;
  padding-bottom: 10px;
}

/*
a {
  color: #9face6;
  font-weight: bold;
}

a:hover {
  color: #74ebd5;
  font-weight: bold;
  text-decoration: underline;
}
*/
